
.en-tete img{

    width: 260px;
    height: 33px;
}
.grid{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    margin:auto;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    gap: 10px;
    min-height: 300px;
}
.one{
    border: 5px solid #00b39b;
    border-radius: 10px;
    background-color: #00b39b;
    
}
.two{
    border: 5px solid #00b39b;
    border-radius: 10px;
    background-color: #00b39b;
}
.three{
    border: 5px solid #00b39b;
    border-radius: 10px;
    background-color: #00b39b;
}