body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
::selection {
    background: #00b39b;
    color: #fff;
    text-shadow: none;
}
.section-interne{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.en-tete img{

    width: 260px;
    height: 33px;
}
.grid{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    margin:auto;
}
.service{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    gap: 20px;
    min-height: 300px;
}
.one{
    border: 1px solid #00b39b;
    border-radius: 10px;
    background-color: #00b39b;
    
}
.two{
    border: 1px solid #3D83DF;
    border-radius: 10px;
    background-color: #3D83DF;
}
.three{
    border: 1px solid #1B2734;
    border-radius: 10px;
    background-color: #1B2734;
}